---
import { Image } from "astro:assets";
import dot from "../assets/dot.svg";
import linkedin from "../assets/linkedin.svg";
import instagram from "../assets/instagram.svg";
import facebook from "../assets/facebook.svg";
import git from "../assets/git.svg";

export interface Item {
  id: number;
  name: string;
  href: string;
}

export const items: Item[] = [
  { id: 1, name: "About", href: "#about" },
  { id: 2, name: "My skills", href: "#skills" },
  { id: 3, name: "My projects", href: "#projects" },
  { id: 4, name: "Contact", href: "#contact" },
];
---

<section class="p-6">
  <div
    class="container max-w-7xl grid grid-cols-1 gap-6 mx-auto md:grid-cols-2 xl:grid-cols-2"
  >
    <div>
      <h2 class="text-5xl font-bold leading-none sm:text-8xl">Follow me</h2>
      <div class="flex">
        {
          [...Array(8)].map(() => (
            <Image src={dot} alt="dot" width="50" height="50" />
          ))
        }
      </div>
    </div>
    <div
      class="container max-w-6xl grid grid-cols-4 gap-4 m-auto md:grid-cols-4 xl:grid-cols-4"
    >
      <a
        href="https://www.linkedin.com/in/adinette-dougloui-768259269/"
        class="flex justify-center items-center w-20 h-20 md:w-24 md:h-24 xl:w-24 xl:h-24 rounded-full bg-fuchsia-600"
      >
        <Image src={linkedin} alt="linkedin" width="50" height="50" />
      </a>
      <a
        href="https://www.linkedin.com/in/adinette-dougloui-768259269/"
        class="flex justify-center items-center w-20 h-20 md:w-24 md:h-24 xl:w-24 xl:h-24 rounded-full bg-fuchsia-600"
      >
        <Image src={instagram} alt="instagram" width="50" height="50" />
      </a>
      <a
        href="https://www.linkedin.com/in/adinette-dougloui-768259269/"
        class="flex justify-center items-center w-20 h-20 md:w-24 md:h-24 xl:w-24 xl:h-24 rounded-full bg-fuchsia-600"
      >
        <Image src={facebook} alt="facebook" width="50" height="50" />
      </a>
      <a
        href="https://github.com/Adinette"
        class="flex justify-center items-center w-20 h-20 md:w-24 md:h-24 xl:w-24 xl:h-24 rounded-full bg-fuchsia-600"
      >
        <Image src={git} alt="git" width="50" height="50" />
      </a>
    </div>
  </div>
</section>
<footer class="rounded-lg shadow m-4">
  <div class="w-full max-w-screen-xl mx-auto p-4 md:py-8">
    <div class="sm:flex sm:items-center sm:justify-between"> 
      <ul
        class="flex flex-row items-center mb-6 text-sm font-medium text-gray-500 sm:mb-0 dark:text-gray-400"
      >
        {
          items.map((item) => (
            <li>
              <a
                href={item.href}
                class="text-xl text-white font-semibold hover:underline me-4 md:me-6"
              >
                {item.name}
              </a>
            </li>
          ))
        }
      </ul>
      <span class="text-lg text-gray-500 dark:text-gray-400">
        © 2023
        <a href="https://flowbite.com/" class="hover:underline"> Flowbite™ </a>
        . All Rights Reserved.
      </span>
    </div>
  </div>
</footer>
